.app__header {
  grid-column: 1 / span 2;
  background-color: var(--primary-color);
}

.app__header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  font-size: 1.2em;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 300px;
  font-weight: bold;
}

.logo__icon {
  font-size: 1.5em;
  font-weight: 100;
}

.header__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search__icon {
  cursor: pointer;
}
.search__input {
  width: 300px;
  border: none; 
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 10px;
}
.search__input::placeholder {
  color: #fff;
}
.search__input:focus {
  outline: none;
  color: #fff;
  background-color: #da8b84;
  border-radius: 0.5em;
}

.header__content {
  display: flex;
  gap: 10px;
}
.header__icon {
  padding: 5px;
  cursor: pointer;
}